* text=auto eol=lf
*.ps1 text eol=crlf
*.cs text diff=csharp
*.unity text
*.prefab text
*.meta text
*.mat text
*.controller text
*.blend binary
*.fbx binary
*.glb binary
*.png binary
*.jpg binary
*.jpeg binary
*.mp4 binary
*.wav binary
*.ogg binary
